legend {
	font-weight: bold;
}

.hide_column { display:none; }

table.dataTable.hover tbody tr:hover,
table.dataTable.hover tbody tr.odd:hover,
table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.even:hover {
	background-color: #69C; color: white;
}

th, td { vertical-align:top; text-align:left; }